.main {
    background-color: black;
    color: #20C20E;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message {
    display: flex;
    flex-direction: row;
}

.messageHeader {
    color: white;
}

.messageBody {
    margin-left: 1vw;
}

.form {
    width: 100vw;
}

.input {
    width: 100vw;
    height: 5vh;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border: none;
}

.button {
    margin-left: .5vw;
    color: black;
    background-color: black;
    border: none;
}

.button:hover {
    color: white;
    cursor: pointer;
}