.main {
    background-color: black;
    color: #20C20E;
    height: 100vh;
    width: 100vw;
}

.message {
    display: flex;
    flex-direction: row;
}

.messageHeader {
    color: white;
}

.messageBody {
    margin-left: 1vw;
}